// component css goes here
  .cat-name
  {
    width: 90%;
  }

  mat-list-item {
    display: flex;
    justify-content: space-between;

  }
  .icon-container {
    display: flex;
    align-items: center;
  }