
*{
    padding:0;
    margin:0;    
 }
 
 .wrapper
 {
     width:100%;
    
 }
 .img-banner
 {
       width: 100%;
       
       .mat-toolbar
       {
        height: 100px;
        background-color: #000000;
        color:#fff
       }

 }
 .mat-tab-label {
     width: 50%;
 }
 
